.project-all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.project-container {
    width: 440px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px 20px;
    overflow-y: hidden;
}

.project-link {
    color: purple;
}

.project-link:active {
    color: rgb(202, 0, 202);
}

.project-title {
    text-align: center;
    font-size: 35px;
}

.project-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.project-photo {
    height: 430px;
    width: auto;
    margin: 0 10px;
}

.larger-photos {
    width: 200px;
}

.project-photo:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: zoom-in;
}

.project-description {
    text-align: left;
    width: 190px;
    margin: 0 5px;
    font-size: 20px;
}

.modal-photo {
    height: 800px;
    width: auto;
}