.wholescreen {
    flex-direction: row;
}

.left {
    background-color: #A48AA8;
    width: 120px;
    text-align: center;
}

.whole-icon {
    padding: 20px;
    transition: 0.8s;
}

.icons {
    color: lavender;
    font-size: 35px;
}

.link {
    text-decoration: none;
    color: lavender;
}

.whole-icon:hover {
    background-color: #916D8A;
    transition: 0.1s;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 20px 50px 0 rgba(0, 0, 0, 0.19);
}

.whole-icon:active {
    background-color: #553649;
    color: lavender;
}

.description {
    margin: 0;
}

.right {
    background-color: lavender;
    width: 1500px;
    text-align: center;
}