.home-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    padding-bottom: 2%;
    border-bottom: 2px solid black;
}

.name {
    flex: 2;
}

.profile-picture {
    height: 22%;
    width: 22%;
    /* height: 225px; */
    /* width: 225px; */
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 2%;
    margin-left: 4%;
}

.profile-name {
    font-size: 90px;
    /* font-size: 10vh; */
    /* font-size: 700%; */
    font-family: monospace;
    font-weight: bold;
    margin-bottom: -2%;
}

.profile-job {
    font-size: 70px;
    /* font-size: 500%; */
    font-family: monospace;
    font-weight: bold;
}

.home-summary {
    font-size: 45px;
    margin-top: 4%;
}

.home-icons-container {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-icons {
    margin: 20px 20px;
    height: 115px;
    width: 115px;
}

#js-icon {
    background-color: #323330;
}

#ts-icon {
    background-color: white;
}