.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
}

.contact-press-container {
    margin: 2% 5%;
}

.whole-contact-icon {
    margin: 5% 8%;
    width: 250px;
}

.contact-icons {
    font-size: 80px;
    color: rgba(0, 0, 0, 0.75);
}

.press {
    transition: 0.3s;
    padding: 20px;
    border-radius: 30%;
}

.press:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.press:active {
    color: lavender;
    background-color: rgb(63, 63, 63);
}

.contact-text {
    color: black;
    font-size: 20px;
}

.contact-text:active {
    color: purple;
}

@media only screen and (max-width: 400px) {
    .contact-text {
        font-size: 12px;
    }

    .contact-icons {
        font-size: 40px;
    }

    .whole-contact-icon {
        width: 200px;
        margin-bottom: 10%;
        margin-top: 10%;
    }
}